//color variables
$text-color: grey;
$theme-color: blue;
$secondary-color: rgb(0, 183, 255);
$ternary-color: green;
$link-color: $secondary-color;
$menu-item-color: white;
//font section
$text-font: "Roboto Condensed", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;
// sizes section
$content-width: 960px;
$footer-height: 90px;
$header-height: 60px;
$col: col-width($columns:8);