@mixin warning {
  background-color: orange;
  color: white;
}

@mixin large-text {
  font: {
    size: 22px;
    weight: 800;
  }

}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}
// nested mixin
@mixin box($radius, $border: 1px solid black) {
  @include rounded(8px);
  border: $border;

}
// root mixin
@mixin fancy-link {
  a {
    font-style: italic;
    text-decoration: none;
  }
}