// color section
$text-color: grey;
$theme-color: blue;
$secondary-color: rgb(0, 183, 255);
$ternary-color: green;
$link-color: $secondary-color;
$menu-item-color: white;
//font section
$text-font: Verdana, arial, sans-serif;
$headline-font: Georgia;
// sizes section
$content-width: 960px;
$footer-height: 90px;
$header-height: 60px;