@import '../scss/_variables';

@import '../scss/_mixins';

// implemented on the root
@include fancy-link();
////
body {
  font-family: sans-serif;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}
h2 {
  @include large-text()
}

p {
  font-family: $text-font;
}
.warning-button {
  @include warning();
  padding: 8px 12px;
}
a {
color: $link-color;
}

#header {
  @include box($border: 3px solid green);
  height: $header-height;
  background: $theme-color;
  color: green;

  #main-menu {
    a {
      color: $menu-item-color;
    }
    li {
      display: inline;
    }
  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  margin-right: auto;
  margin-left: auto;
  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
  background: $theme-color
}
