@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/functions';



@include google-font("Roboto+Condensed");
@include google-font("Titillium+Web");


// implemented on the root
@include fancy-link();
////

@include large-screens {
  font-size: 125%;
}
body {
  font-family: sans-serif;
  color: rgb(10, 15, 50);
  background-color: hsl(60, 50%, 100%);
  font-size: em(18px);

}

h1, h2, h3, h4 {
  font-family: $headline-font;
}
h2 {
  @include large-text()
}

p {
  font-family: $text-font;
}
.warning-button {
  @include warning();
  padding: 8px 12px;
}
a {
color: green;
}
@include apply-to-ie-6{
  body {
    font-size: 125%;
  }
};
#header {
  @include box($border:1px solid green, $radius: 12px);
  height: $header-height;
  background: $theme-color;
  @include box-shadow(2px 0px 4px rgba(0, 128, 128, 0.144), 1px 1px 6px $secondary-color);
  // font-family: $text-font;

  #main-menu {
    a {
      color: $menu-item-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      transition: border-bottom 1s;
      transition-timing-function: ease-in-out;

      &:hover {
        color: darken($link-color, 50%);
        border-bottom: 1px solid opacify(#fefefe, 1.5);
      }
    }
    li {
      display: inline;
    }
  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  @include large-screens {
    width: auto;
    max-width: $content-width;
  }
  margin-right: auto;
  margin-left: auto;
  #content {
    float: left;
    width: 6*$col;
  }

  #sidebar {
    float: right;
    width: 2*$col;
  }
}

#footer {
  height: $footer-height;
  background: $theme-color
}
